# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# VS Code
.vscode/

# Environment variables
.env
.env.*

# Backend data
backend/data/*
!backend/data/.gitkeep

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Node modules
frontend/node_modules/

# Temp uploads
backend/temp_uploads/

# Expo cache
frontend/.expo/