docling==2.106.0

SQLAlchemy
psycopg2-binary==2.9.12
minio==7.2.20

python-dotenv==1.2.2

pydicom==3.0.2
matplotlib==3.11.0

sentence-transformers==5.6.0
qdrant-client==1.18.0

pandas==3.0.3
numpy==2.4.6

rapidfuzz==3.14.1
pytesseract
Pillow
